<environment names="Development">
    <link rel="stylesheet" href="~/lib/datatables/media/css/dataTables.bootstrap.css" asp-append-version="true" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/lib/datatables/media/css/dataTables.bootstrap.min.css" asp-append-version="true" />
</environment>

<environment names="Development">
    <script src="~/lib/datatables/media/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/media/js/dataTables.bootstrap.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/lib/datatables/media/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/media/js/dataTables.bootstrap.min.js" asp-append-version="true"></script>
</environment>

<div style="text-align:center;margin:0 auto">
    <i class="fa fa-gift" style="font-size:24px"></i><br />
    <strong style="font-size:18px">REWARDS</strong>
    
    @*<div style="padding:10px;width:90%; border-radius:5px;margin:0 auto;background:#fff;border-bottom:solid 5px #ffc03d; box-shadow:5px 5px #dfdfdf">
        <img src="~/images/createtask.png" style="width:100%" />
    </div>
    <div>&nbsp;</div>
    <div style="padding:10px;width:90%; border-radius:5px;margin:0 auto;background:#fff; box-shadow:5px 5px #dfdfdf">
        <img src="~/images/map.png" style="width:100%" />
    </div>
    <div>&nbsp;</div>
    <div style="padding:10px;width:90%; border-radius:5px;margin:0 auto;background:#fff; box-shadow:5px 5px #dfdfdf">
        <img src="~/images/merchandise.png" style="width:100%" />
    </div>*@
</div>