<footer class="main-footer">
    <!-- To the right -->
    @*<div class="pull-right hidden-xs">
        Anything you want
    </div>*@
    <!-- Default to the left -->
    <div style="color:#9096ae;text-align:center; font-size:11px">
        <strong>Copyright &copy; <a href="http://www.nexasoft.my">Nexasoft</a> 2019.</strong> All rights reserved.
    </div>    
</footer>