<environment names="Development">
    <link rel="stylesheet" href="~/lib/datatables/media/css/dataTables.bootstrap.css" asp-append-version="true" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/lib/datatables/media/css/dataTables.bootstrap.min.css" asp-append-version="true" />
</environment>

<environment names="Development">
    <script src="~/lib/datatables/media/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/media/js/dataTables.bootstrap.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/lib/datatables/media/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/media/js/dataTables.bootstrap.min.js" asp-append-version="true"></script>
</environment>

<div style="text-align:center;margin:0 auto">
    <i class="fa fa-gamepad" style="font-size:24px"></i><br />
    <strong style="font-size:18px">PLAYING GAMES</strong>
    
    @*
    <div style="padding:10px;width:90%; border-radius:5px;margin:0 auto;background:#fff;box-shadow:5px 5px #dfdfdf">
        <div style="width:100%;padding:10px">
            <div style="display:inline-block;padding:10px;text-align:left;width:25%">
                <p><strong>#12134</strong></p>
                <p>24/1/2019 2:23 PM</p>
            </div>
            <div style="display:inline-block;padding:10px;text-align:left;width:10%">
                <p><strong>Outlet</strong></p>
                <p><strong>Region</strong></p>
            </div>
            <div style="display:inline-block;padding:10px;text-align:right;width:20%">
                <p>Tesco Shah Alam</p>
                <p>Central</p>
            </div>
            <div style="display:inline-block;text-align:right;width:40%; vertical-align:top">
                <div style="display:inline-block"><p>Merchandiser<br /><strong>Alan Hardy</strong></p></div>
                <div style="display:inline-block"><img src="~/images/merchandiser.png" /></div>
            </div>
        </div>
        <div style="width:100%;padding:10px">
            <div style="display:inline-block;padding:10px;text-align:left;width:25%">
                <p><strong>#13421</strong></p>
                <p>2/1/2019 5:20 PM</p>
            </div>
            <div style="display:inline-block;padding:10px;text-align:left;width:10%">
                <p><strong>Outlet</strong></p>
                <p><strong>Region</strong></p>
            </div>
            <div style="display:inline-block;padding:10px;text-align:right;width:20%">
                <p>SITR Supermarket</p>
                <p>Central</p>
            </div>
            <div style="display:inline-block;text-align:right;width:40%; vertical-align:top">
                <div style="display:inline-block"><p>Merchandiser<br /><strong>Jessica Pang</strong></p></div>
                <div style="display:inline-block"><img src="~/images/jessica.png" /></div>
            </div>
        </div>
        <div style="width:100%;padding:10px">
            <img src="~/images/report.png" style="width:100%"/>
        </div>
        <div style="width:100%;padding:10px">
            <div style="display:inline-block;padding:10px;text-align:left;width:25%">
                <p><strong>#154667</strong></p>
                <p>16/12/2018 10:15 AM</p>
            </div>
            <div style="display:inline-block;padding:10px;text-align:left;width:10%">
                <p><strong>Outlet</strong></p>
                <p><strong>Region</strong></p>
            </div>
            <div style="display:inline-block;padding:10px;text-align:right;width:20%">
                <p>KK Mart</p>
                <p>North</p>
            </div>
            <div style="display:inline-block;text-align:right;width:40%; vertical-align:top">
                <div style="display:inline-block"><p>Merchandiser<br /><strong>Kai Wan Lim</strong></p></div>
                <div style="display:inline-block"><img src="~/images/kaiwanlim.png" /></div>
            </div>
        </div>
    </div>*@
</div>