<environment names="Development">
    <link rel="stylesheet" href="~/lib/datatables/media/css/dataTables.bootstrap.css" asp-append-version="true" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/lib/datatables/media/css/dataTables.bootstrap.min.css" asp-append-version="true" />
</environment>

<environment names="Development">
    <script src="~/lib/datatables/media/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/media/js/dataTables.bootstrap.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/lib/datatables/media/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/media/js/dataTables.bootstrap.min.js" asp-append-version="true"></script>
</environment>

<div style="text-align:center;margin:0 auto">
    <i class="fa fa-users" style="font-size:24px"></i><br />
    <strong style="font-size:18px">STAFF</strong>
    <p style="color:#9096ae">Merchandiser and Promoter</p>
    <div style="padding:10px;width:90%; border-radius:5px;margin:0 auto;background:#fff;border-bottom:solid 5px #ffc03d; box-shadow:5px 5px #dfdfdf">
        <div style="display:inline-block;padding:10px;text-align:left;width:48%;vertical-align:top">
            <div style="display:inline-block"><p>Merchandiser<br /><strong>Alan Hardy</strong></p></div>
            <div style="display:inline-block"><img src="~/images/merchandiser.png" /></div>
        </div>
        <div style="display:inline-block;padding:10px;text-align:right;width:48%">
            <p><strong>Contact No:</strong> 019-1279619</p>
            <p>3, Jalan Aerobik 13/43</p>
            <p>40100 Shah Alam</p>
        </div>
        <div style="padding:10px;width:90%;margin:0 auto;">
            <div style="display:inline-block;padding:10px;text-align:left;width:20%">
                <p><strong>Tasks Completed</strong></p>
                <p><strong>Tasks Incomplete</strong></p>
                <p><strong>Completion Rate</strong></p>
            </div>
            <div style="display:inline-block;padding:10px;text-align:right;width:15%">
                <p>974</p>
                <p>902</p>
                <p>56%</p>
            </div>
            <div style="display:inline-block;padding:10px;text-align:right;width:10%">
                <p>&nbsp;</p>
            </div>
            <div style="display:inline-block;padding:10px;text-align:left;width:20%">
                <p><strong>Days Checked-in</strong></p>
                <p><strong>Distance Traveled</strong></p>
                <p><strong>Hours Clocked</strong></p>
            </div>
            <div style="display:inline-block;padding:10px;text-align:right;width:15%">
                <p>134</p>
                <p>152.22 km</p>
                <p>1211</p>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div style="padding:10px;width:90%; border-radius:5px;margin:0 auto;background:#fff; box-shadow:5px 5px #dfdfdf">
        <img src="~/images/maproute.png" style="width:100%" />
    </div>
    <div>&nbsp;</div>
    <div style="padding:10px;width:90%; border-radius:5px;margin:0 auto;background:#fff; box-shadow:5px 5px #dfdfdf">
        <p style="font-size:18px"><strong>Check In/Out Log</strong></p>
        <div style="display:inline-block;padding:10px;text-align:left;width:25%;border-right:dotted 1px #989898">
            <p><strong>Date</strong></p>
            <p>22/1/2019</p>
            <p>21/1/2019</p>
            <p>18/1/2019</p>
        </div>
        <div style="display:inline-block;padding:10px;text-align:center;width:25%;border-right:dotted 1px #989898">
            <p><strong>Check-in</strong></p>
            <p>10:04 AM</p>
            <p>10:10 AM</p>
            <p>10:15 AM</p>
        </div>
        <div style="display:inline-block;padding:10px;text-align:center;width:15%">
            <p><strong>Check-out</strong></p>
            <p>5:04 PM</p>
            <p>6:10 PM</p>
            <p>4:15 PM</p>
        </div>
    </div>
</div>